@model IEnumerable<SocialNetwork.Models.SearchUserViewModel>
@{
    ViewBag.Title = "SearchUser";
}

<h2>SearchUser</h2>

@using (Html.BeginForm("SearchUser", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Search your friend</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    foreach (var item in Model)
    {
        if (item.IsYou)
        {
            <a href="@Url.Action("Index", "Manage")">
                <div class="row">
                    <div class="col-md-1">
                        <img src="@Url.Action("GetUserImage", "Global", new { id = item.User.Id })" class="avatar" alt="image">
                    </div>
                    <div class="col-md-11">
                        <h4>@item.User.Login</h4>
                    </div>
                </div>
            </a>
        }
        else
        {

            <a href="@Url.Action("UserPage", new { id = item.User.Id })">
                <div class="row">
                    <div class="col-md-1">
                        <img src="@Url.Action("GetUserImage", "Global", new { id = item.User.Id })" class="avatar" alt="image">
                    </div>
                    <div class="col-md-11">
                        <h4>@item.User.Login</h4>
                    </div>
                </div>
            </a>
        }

    }
}

