@model SocialNetwork.Models.IndexViewModel

@{
    ViewBag.Title = "ChangeProfile";
}

<h2>ChangeProfile</h2>


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    @using (Html.BeginForm("ChangeProfile", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("User.Id", Model.User.Id)
        <div class="row">
            <div class="col-md-5">
                <img src="@Url.Action("GetUserImage", "Global", new { id = Model.User.Id })" class="userpic" alt="image">
                <h4>Change profile picture</h4>

                <input type="file" name="uploadImage"/>

                <h4>@Model.User.Email</h4>
                <h4>Password:</h4>

                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
                <hr/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Save</button>
                </span>
            </div>
        </div>
    }
    
</div>
