@model SocialNetwork.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <a class="be-ava-user style-2" href="#">
                <img src="@Url.Action("GetUserImage", "Global", new { id = Model.User.Id })" class="userpic" alt="image">
            </a>                             
            <h4>@Model.User.Email</h4>
            <h4>Password:</h4>

            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
            @Html.ActionLink("Change profile", "ChangeProfile")
        </div>

        <div class="col-md-6">
            @foreach (var post in Model.User.MyPosts)
            {
                <a href="@Url.Action("UserPage", new { id = post.Creator.Id })">
                    <h2>@post.Creator.Email</h2>
                </a>
                <p>
                    @post.Description.Content
                </p>
            }
        </div>

    </div>
    @*<dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>*@
</div>
