@model SocialNetwork.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <form>
        <h4>Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <a class="be-ava-user style-2" href="#">
                    <img src="@Url.Action("GetUserImage", "Global", new { id = Model.User.Id })" class="userpic" alt="image">
                </a>
                <h4>@Model.User.Login</h4>
                @Html.ActionLink("Change profile", "ChangeProfile")
            </div>

            <div class="col-md-6">
                @foreach (var post in Model.User.MyPosts)
            {
                    <a href="@Url.Action("UserPage", "Home", new { id = post.Creator.Id })">
                        <h2>@post.Creator.Login</h2>
                    </a>
                    <p>
                        @post.Description.Content
                    </p>
                }
            </div>

        </div>
    </form>
</div>
